Connected Services/ServiceReference1/PicService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PicService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/PicService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLog" />
  </wsdl:message>
  <wsdl:message name="IService_AddLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="IService_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Upload3DData_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload3DData" />
  </wsdl:message>
  <wsdl:message name="IService_Upload3DData_OutputMessage">
    <wsdl:part name="parameters" element="tns:Upload3DDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage2_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage2" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage2Response" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage3_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage3" />
  </wsdl:message>
  <wsdl:message name="IService_UploadImage3_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage3Response" />
  </wsdl:message>
  <wsdl:message name="IService_UploadComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadComplete" />
  </wsdl:message>
  <wsdl:message name="IService_UploadComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadPictrue_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictrue" />
  </wsdl:message>
  <wsdl:message name="IService_UploadPictrue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPictrueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UploadParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadParameter" />
  </wsdl:message>
  <wsdl:message name="IService_UploadParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadParameterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddLog" message="tns:IService_AddLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddLogResponse" message="tns:IService_AddLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLocation" message="tns:IService_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLocationResponse" message="tns:IService_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Upload3DData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Upload3DData" message="tns:IService_Upload3DData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/Upload3DDataResponse" message="tns:IService_Upload3DData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage" message="tns:IService_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImageResponse" message="tns:IService_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage2" message="tns:IService_UploadImage2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImage2Response" message="tns:IService_UploadImage2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage3">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadImage3" message="tns:IService_UploadImage3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadImage3Response" message="tns:IService_UploadImage3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadComplete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadComplete" message="tns:IService_UploadComplete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadCompleteResponse" message="tns:IService_UploadComplete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPictrue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadPictrue" message="tns:IService_UploadPictrue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadPictrueResponse" message="tns:IService_UploadPictrue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UploadParameter" message="tns:IService_UploadParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UploadParameterResponse" message="tns:IService_UploadParameter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddLog">
      <soap:operation soapAction="http://tempuri.org/IService/AddLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/IService/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload3DData">
      <soap:operation soapAction="http://tempuri.org/IService/Upload3DData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage2">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage3">
      <soap:operation soapAction="http://tempuri.org/IService/UploadImage3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadComplete">
      <soap:operation soapAction="http://tempuri.org/IService/UploadComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPictrue">
      <soap:operation soapAction="http://tempuri.org/IService/UploadPictrue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadParameter">
      <soap:operation soapAction="http://tempuri.org/IService/UploadParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PicService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8001/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>